# Answer 1

In [1]:
for i in range(2000,3201):    # took each value invluding 3200.
    if i%7 == 0 and i%5 != 0: # divisable by 7 but not by 5.
        print(i, end = ', ')  # get result with seperated by ", "

2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199,

# Answer 2

In [2]:
first_name = input()  # Input of first name
last_name = input()   #Input of last name

chandan
anand

In [3]:
def reverse_name(name):   # a user defination to reverse any given string.
    l = []                # a blank list to store user's string.
    l.append(name)        # user's string is added.
    m = []                # a blank list which store reverse order string.
    for i in l:
        m.append(i[::-1]) # user's string is get reversed.
    return m[0]           # it returns first element of m list.

reverse_name(first_name) + ' ' + reverse_name(last_name) # both names are reversed and concatenated.

'nadnahc dnana'

# Answer 3

\begin{equation*}
Volume   = \frac43 \pi  r^3 
\end{equation*}

In [5]:
from math import pi  # from math library importing pi value.
d = 12   # d is diameter of sphere.
r = d/2  # radius 'r' is half of diameter 'd'.
V = 4/3*pi*(r**3) # volume of sphere.
print('volume of sphere is =',V)

volume of sphere is = 904.7786842338603